/* css files don't need any set up tags */

.panel{ /* top panel rn */
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    height:300px;
    background-color:powderblue;
    
}

/* so apparently you put (tag).(a, b, c so on) here and make that the class to do this */
h1.a {    
    margin-right: 800px;
    text-align-last: end;

}
